.App {
 display: flex;
 flex-direction: column;

}

.animationLayer {

  background-position: center;
  background-size: cover;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.animation, .animationLayer{
  height: 1000px;
}

#artBack{
  background-image: url(./Images/background.png);
}

#mountain {
  background-image: url(./Images/mountains.png);
}

#logoland {
  background-image: url(./Images/logo_land.png);
}

#jungle1 {
  background-image: url(./Images/jungle1.png);
}

#jungle2 {
  background-image: url(./Images/jungle2.png);
}

#jungle3 {
  background-image: url(./Images/jungle3.png);
}

#jungle4 {
  background-image: url(./Images/jungle4.png);
}

#jungle5 {
  background-image: url(./Images/jungle5.png);
}

#manonmountain {
  background-image: url(./Images/man_on_mountain.png);
}